:root {
  /* Brand */
  --color-primary: #213f7d;
  --color-accent: #39cdcc;

  /* Surfaces */
  --color-surface: #ffffff;
  --color-app-bg: #fbfbfb;

  /* Text */
  --color-text-main: #545f7d;
  --color-text-inverse: #ffffff;

  /* Borders */
  --color-border-soft: #545f7d26;
}
