.status-badge {
  display: inline-block;
  padding: 7px 13px;
  border-radius: 100px;
  font-family: var(--font-app);
  font-size: var(--fs-14);
  font-weight: var(--fw-400);
  line-height: 1;
  text-align: center;
}
